body {
    background-color: #EFEBE9;
    color: #3E2723; 
    font-family: Vollkorn, monospace, serif;
    font-size: 16px;
}

header {
    margin:5px;
    width: auto;
    height: 175px;
    background-color: #D7CCC8;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Zelda_Logo.svg/2000px-Zelda_Logo.svg.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 85%;
    border-radius: 10px;
}

h1 {
    margin: 0px 0px 40px 20px;
    padding-top: 10px;
    font-family: 'Great Vibes',cursive, serif;
    font-size: 75px;
    text-shadow: 3px 3px 5px #6D4C41;
}

h2 {
    margin:0px 0px 0px 20px;
    font-family: 'Great Vibes',cursive, serif;
    font-size: 30px;
}

p {
    text-align: justify;
    margin:5px;
}

li{
    display: inline;
    border-radius: 5px;
    padding:5px;
    margin-left:5px;
    margin-right:5px;
    border:solid black 0.5px;
    background-color: #7EAC7E;
    
}

div {
    background-color: #D7CCC8;
    border-radius:10px;
    margin:5px;
}

#right {
    float: right;
    width: 33%;
    height: auto;
}

#left {
    float: left;
    width: 65%;
    height: auto;
}

#bottom {
    clear: both;
    text-align: center;
}

#footer {
    text-align: center;
}

table {
    margin:5px;
    text-align: center;
    font-size: 16px;
}

th {
    border-right: solid #6D4C41 1px;
    border-bottom:solid #6D4C41 1px;
    font-size:18px;
    font-weight: bold;
}

td {
    border-right: solid #6D4C41 1px;
    border-bottom: solid #6D4C41 1px;
}

footer {
    clear: both;
    background-color: #D7CCC8;
    width: auto;
    height:auto;
    border-radius: 10px;
    margin:5px;
}

img {
    width: 50px;
    height:50px;
    border-radius:100px;
    margin:5px;
    
}

 a {
     text-decoration: none;
     color: #3E2723;
 }

.ami{
    display:inline-block;
    margin:5px 40px 5px 40px;
}

.button{
    border:solid #6D4C41 0.5px;
    background-color: #BCAAA4;
    box-shadow: 2px 2px 2px #6D4C41;
 }
 
.button:hover {
    background-color: #A1887F
 }

.person {
    font-weight: bold;
}

.game {
    font-style: italic;
}

.footer {
    font-family: Great Vibes, cursive, serif;
    font-size: 18px;
}
